h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin: 0;
    padding: 20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid ol {
    padding-left: 33px;
}
#grid #article {
    padding-left: 25px;
}
.cells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.centerText {
    text-align: center;
}
.thumbnail {
    display: block;
    margin: auto;
}
.tab {
    padding-left: 20px;
}